<div>
  <h1 class="mt-5 font-bold text-4xl">Products</h1>
  <% @products.each do |product| %>
    <%= link_to product_path(product.id), class: 'product' do %>
      <h2 class="text-xl"><strong class="text-cyan-500 underline"><%= product.title %></strong></h2>
      <p class="text-lg border-b border-blue-200 mb-2"><strong>Price: </strong><%= product.price %></p>
    <% end %>
  <% end %>
</div>
